/* Default light switch customization */
.tile.card-panel.switch.clickable {
    background-color: transparent !important;    
    overflow: visible !important;
}

.tile.card-panel.switch.clickable .title,
.tile.card-panel.switch.clickable .tile-footer {
    color: transparent !important;
}

.tile.card-panel.switch.clickable .main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transform: scale(0.6);
    background-color: rgb(193 176 137 / 30%);     
    box-shadow: 0 0 40px 0 rgb(193 176 137 / 30%);
    backdrop-filter: blur(8px);   
}

.tile.active.card-panel.switch.clickable .main-content {
    background-color: #ddc44070;
}

.tile.card-panel.switch.clickable .waves-ripple {
    display: none;
}

/* Remove background from Dimmer custom tile*/
div[data-v-821c8568] {
    background-color: transparent !important;
}

/* Temp workaround for transition issues on page navigation*/
* {
    transition: none !important;
}
